
@model WebApp111.Models.ModelModel

<div class="well bs-component">

    <div class="form-group">
        <label class="control-label col-sm-4">User signature:</label>
        <div class="col-sm-8">
            <input type="file" name="userSignature" class="user-signature" id="user-signature" hidden="hidden" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4"></label>
        <div class="col-sm-8 signature-image">
            @if (Model.TopBar != null)
            {
                <img id="user-signature-image" src="data:image;base64,@Convert.ToBase64String(Model.TopBar)" />
            }
            else
            {
                <img id="user-signature-image" />
            }
        </div>
    </div>
</div>




<style type="text/css">
    #user-details-form .control-label {
        text-align: left;
    }

    .signature-image {
        background-color: white;
        border-color: #E1E1E1;
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
    }
</style>








@*<form name="" method="post" action="~/Home/Index" enctype="multipart/form-data" class="feedback-form-1">
        @Html.EditorForModel()
        <div class="editor-label">Image</div>
        <div class="editor-field">
            @if (Model.TopBar == null)
            {
                @:None
            }
            else
            {
                <img width="150" height="150" src="data:image;base64,@Convert.ToBase64String(@Model.TopBar)" />
            }
            <div>
                Upload new image:
                <input type="file" name="model" />
            </div>
        </div>
        <input type="submit" value="Save" />
        @Html.ActionLink("Cancel and return to List", "Index")

    </form>*@
